body,ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: :inherit;
}
.con {
    max-width: 1400px;
    margin: 0 auto;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}