/* 퀵 메뉴 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.container {

    max-width: 1697px;
    /* margin-left: 61.5px; */
  
}


.quick_menu {

    width: 90px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 99999999999999999999999;
    padding-top: 75px;
}


.quick {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* outline: 1px solid magenta; */

}

.quick img {
    max-height: 40px;
}

.quick li {
    /* 
    width: 50px;
    height: 50px; */
    color: white;
    margin-bottom: 10px;
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.5s;



}





.quick li::after {

    content: "";
    width: 0%;
    height: 1px;
    background-color: #e9b414;
    position: absolute;
    bottom: -4px;
    transition: all 0.2s;
}

.quick li:hover::after {
    width: 100%;
    display: block;
}

.quick li i {

    font-size: 2.2rem;
    text-align: center;
}

.quick li:first-child p {
    margin-top: 5px;
}

.quick li i a {

    /* display: block; */
    display: flex;

}

.quick li p {

    text-align: center;
    margin-top: 17px;
    font-size: 0.7rem;
}


.h_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    /* bottom: 74px; */
    opacity: 0.5;
    height: 74px;
    /* outline: 1px solid magenta; */
    z-index: 100000;
    transition: all 0.2s;
}

/* .h_box:hover {

    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    color: black;

} */

.h_box.shadow {

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}


.h_box .container {

    display: flex;
    justify-content: space-between;
    padding-right: 370px;
    padding-left: 50px;
    margin: 0 auto;




}


.h_box .h_logo {

    min-width: 123px;
    width: 123px;
    height: 55px;
    /* outline: 1px solid black; */
    margin-top: 11px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h_logo img {

    display: block;
    width: 100%;
}


.gnb {

    width: 45vw;
    /* outline: 1px solid magenta; */
    display: flex;
    justify-content: space-between;
    line-height: 74px;

}

.gnb li {
    /* display: block; */
    /* margin-right: 80px; */
    position: relative;
    cursor: pointer;
}

.gnb li:last-child {

    margin-right: 0;
}

.gnb li a {
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;


}

.gnb li a::after {

    content: "";
    width: 0%;
    height: 4px;
    background-color: #e9b414;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;

}



.gnb li a:hover {
    color: #999;
    width: 100%;
}

.h_drop {
    top: 74px;
    width: 100%;
    /* height: 200px; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    /* display: none; */
}

.h_drop .gnb2 {
    /* flex: 1; */
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.h_drop .gnb2 li:hover {

    opacity: 0.7;
}

/* 
.gnb2:not(:nth-child(1)) {

    display: none;
} */

.h_drop .gnb2 li {
    /* display: flex; */
    align-items: center;
    margin: 0 15px;

}



.h_drop .gnb2 img {
    max-width: 180px;
    max-height: 150px;

}



.visual {

    max-width: 100%;
    max-height: 649px;
    overflow: hidden;
    position: relative;
}

.slider {

    width: 1697px;
    height: 649px;
    position: relative;
}

.slider img {
    height: 649px;
    position: absolute;
}


.slide_btn {

    width: 160px;
    height: 50px;
    /* outline: 1px solid magenta; */
    position: absolute;
    /* z-index: 100000; */
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;

}

.slide {

    width: 20px;
    height: 20px;
    /* background-color: white; */
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}